<h3>Photoshop Reference Guide</h3>
<mat-tab-group>
  <mat-tab label="Adobe Photoshop"> 
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Keyboard Shortcut</th>
        </tr>
      </thead>
      <tbody>
        <br>
        <h5>Viewing</h5>
        <tr>
          <td>Fit on Screen</td>
          <td>CTR-O</td>
        </tr>
        <tr>
          <td>100% View Level</td>
          <td>CTR-1</td>
        </tr>
        <tr>
          <td>IZoom in</td>
          <td>CTRL-Spacebar-Click</td>
        </tr>
        <tr>
          <td>Zoom Out</td>
          <td>Alt-Spacebar-Click</td>
        </tr>
        <tr>
            <td>Hide/Show all tools and panels</td>
            <td>Shift-Tab</td>
          </tr>
        <tr>
            <td>Scroll Image left or right in window</td>
            <td>Ctrl-Shift-Page Up/Down</td>
          </tr>
        <tr>
            <td>Toggle layer mask on/off as rubylith</td>
            <td>/</td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <h5>Layers</h5>
        <tr>
            <td>Create New Layer</td>
            <td>Ctrl-Shift-N</td>
        </tr>
        <tr>
            <td>Delete Layer</td>
            <td>Delete Key</td>
        </tr>
        <tr>
            <td>Cycle Down or up through blending modes</td>
            <td>Shift–Plus(+) or Minus(–)</td>
        </tr>
        <tr>
            <td>Switch to layer below/above current layer</td>
            <td>Alt–</td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <h5>Painting</h5>
        <tr>
            <td>Fill selection with Background color</td>
            <td>Ctrl–Backspace</td>
        </tr>
        <tr>
            <td>Fill selection with Foreground color</td>
            <td>Alt–Backspace</td>
        </tr>
      </tbody>
    </table>

<!--Tab 2-->

  </mat-tab>
  <mat-tab label="Adobe Captivate">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th id="column" scope="col">Keyboard Shortcut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Start/Record New Project</td>
          <td>Ctr-R</td>
        </tr>
        <tr>
          <td>Record Additional Slides</td>
          <td>Ctr-Alt-O</td>
        </tr>
        <h5>Other Section</h5>
        <tr>
          <td>Extend the length of the object display time to the end of the slide on the Timeline</td>
          <td>Ctrl-E </td>
        </tr>
        <tr>
          <td>Show or Hide timeline</td>
          <td>Ctrl–Alt-T</td>
        </tr>
      </tbody>
    </table>
<!--Tab 3-->
  </mat-tab>
  <mat-tab label="Microsft Excel"> 
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Keyboard Shortcut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Time Format</td>
          <td>Ctr-Shift-@</td>
        </tr>
        <tr>
          <td>Hide Rows</td>
          <td>Ctr-9</td>
        </tr>
        <tr>
          <td>Hide Columns</td>         
          <td>Ctrl-0</td>
        </tr>
        <tr>
          <td>Unhide Rows</td>
          <td>Ctrl-Shift+(</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>
