<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


  <div id="main">
    <div class="row">
      <div class="col-sm-4">
          <table class="scorecard">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Selected Library:</td>
                  <td>{{message}}</td>
                </tr>
                <tr>
                  <td>Correct Answers:</td>
                  <td>{{correctAnswer}}/14</td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="col-sm-4">
          <div class="command-display__container">
            <div class="command-display__background">
              <div class="command-display__text" *ngIf="displayText">{{currentShortcut.name}}</div>
              <p id="success" *ngIf="success">Correct</p>
              <p id="failure" *ngIf="failure">Incorrect</p>
            </div>
          </div>
      </div>
      <div class="col-sm-4"></div>
    </div><!-- /row -->




<br>
  <!-- Change the text to your liking -->
  <div id="board">

    <div *ngIf="!playerReady" id="content">
      <p id="title">Keyboard Shortcut Ninja Game</p>
      <p id="subtitle">Press any key to begin</p>
    </div>
      <br>
      <br>
    </div>

<br>
<br>
<div id="help">
    <button id="button button4" (click)="helper()" >
        <i class="fa fa-question-circle"></i>
        help
    </button>
    <div id="answer" *ngIf="help">{{currentShortcut.answer}}</div>
  </div>
  </div>

  


  


      
