
  <div id="main">
    <div class="row">
      <div class="col-sm-4">
          <table class="scorecard">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Selected Library:</td>
                  <td>{{message}}</td>
                </tr>
                <tr>
                  <td>Correct Answers:</td>
                  <td>{{correctAnswer}}/14</td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="col-sm-4">
          <div class="command-display__container">
            <div class="command-display__background">
              <div class="command-display__text">{{currentShortcut.name}}</div>
            </div>
          </div>
      </div>
      <div class="col-sm-4"></div>
    </div><!-- /row -->


<p id="success" *ngIf="success">correct</p>
<p id="failure" *ngIf="failure">Incorrect</p>

<br>
  <!-- Change the text to your liking -->
  <div id="board">

    <div *ngIf="!playerReady" id="content">
      <p id="title">Keyboard Shortcut Ninja Game</p>
      <p id="subtitle">Press any key to begin</p>
    </div>
      <br>
      <br>
  </div>
</div>
<br>
<br>
<!-- <div class="image-container">
    <img id="image" src="assets/pixelz.png">
  </div> -->


