
<!--Needs to be only able to select a single library. Need to change "captivate" to excel to match the name of the service-->
<div id="main">
<form #settings="ngForm" (ngSubmit)="setSettings(settings)">
    <div class="form-group">
        <h4>Select Shortcut Library</h4>
        <div class="form-control">
          <label class="radio">
            <input type="radio" value="adobePhotoshop" name="library">
            Adobe Photoshop
          </label>
          <label class="radio">
            <input type="radio"  value="microsoftExcel" name="library">
            Microsoft Excel
          </label>
        </div>
      </div>
    <div class="form-group">
          <h4>Game Speed</h4>
          <div class="form-control">
            <label class="radio">
              <input type="radio" value="novice" name="gamespeed">
              Novice
            </label>
            <label class="radio">
              <input type="radio"  value="intermediate" name="gamespeed">
              Intermediate
            </label>
            <label class="radio">
                <input type="radio"  value="advanced" name="gamespeed">
                Advanced
              </label>
          </div>
        <div class="panel-footer">
            <button class="btn btn-primary" *ngIf="!savedMessageBool" type="submit">Save</button>
            <button class="btn btn-success" *ngIf="savedMessageBool">Saved!</button>
          </div>
          </div>

</form>
</div>



